.group-page {
	padding: 20px;
	font-family: Arial, sans-serif;
}

.group-header {
	margin-bottom: 20px;
}

/* Recent Matches Styles */
.recent-matches {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.match-card {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
	width: 100%;
	max-width: 150px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: var(--secondary-background-color);
	color: var(--text-color);
}

.match-card h3 {
	margin: 0 0 5px;
	font-size: 1em;
}

.match-card p {
	margin: 5px 0;
	font-size: 0.8em;
}
